In [1]:
!pip install requests

Requirement already satisfied: requests in /Users/jasongoddard/opt/anaconda3/lib/python3.8/site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /Users/jasongoddard/opt/anaconda3/lib/python3.8/site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /Users/jasongoddard/opt/anaconda3/lib/python3.8/site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jasongoddard/opt/anaconda3/lib/python3.8/site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jasongoddard/opt/anaconda3/lib/python3.8/site-packages (from requests) (1.26.4)

In [12]:
gmaps.configure(api_key=g_key)

In [13]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Peterhead,57.5058,-1.7981,49.10,69,95,3.22,GB,2021-10-12 19:20:00
1,1,Barrow,71.2906,-156.7887,30.22,86,90,25.32,US,2021-10-12 19:17:27
2,2,Vaini,-21.2000,-175.2000,69.96,83,20,4.61,TO,2021-10-12 19:17:24
3,3,Hobart,-42.8794,147.3294,47.26,79,75,3.00,AU,2021-10-12 19:17:46
4,4,Weihe,32.9952,105.3247,50.61,98,100,2.04,CN,2021-10-12 19:20:01

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

#Can change to clouds=  -or-  wind=

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [20]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
11,11,Canchungo,12.0672,-16.0333,82.53,80,84,6.93,GW,2021-10-12 19:20:03
13,13,Sorong,-0.8833,131.2500,81.30,78,100,1.05,ID,2021-10-12 19:20:05
14,14,Butaritari,3.0707,172.7902,80.89,70,93,6.60,KI,2021-10-12 19:17:34
16,16,Georgetown,5.4112,100.3354,82.33,78,100,0.00,MY,2021-10-12 19:14:43
23,23,Itarema,-2.9248,-39.9167,83.91,64,99,19.66,BR,2021-10-12 19:20:08
24,24,Kavieng,-2.5744,150.7967,82.76,77,99,13.85,PG,2021-10-12 19:18:36
27,27,Phak Hai,14.4574,100.3699,82.31,95,100,5.37,TH,2021-10-12 19:20:10
28,28,Atuona,-9.8000,-139.0333,78.08,72,11,18.16,PF,2021-10-12 19:17:16
31,31,Adre,13.4667,22.2000,82.80,45,78,8.23,TD,2021-10-12 19:18:56
32,32,La Malbaie,47.6575,-70.1559,76.46,84,100,5.55,CA,2021-10-12 19:20:12

In [21]:
preferred_cities_df.count()

City_ID       158
City          158
Lat           158
Lng           158
Max Temp      158
Humidity      158
Cloudiness    158
Wind Speed    158
Country       157
Date          158
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
11   Canchungo      GW     82.53  12.0672  -16.0333
13      Sorong      ID     81.30  -0.8833  131.2500
14  Butaritari      KI     80.89   3.0707  172.7902
16  Georgetown      MY     82.33   5.4112  100.3354
23     Itarema      BR     83.91  -2.9248  -39.9167
24     Kavieng      PG     82.76  -2.5744  150.7967
27    Phak Hai      TH     82.31  14.4574  100.3699
28      Atuona      PF     78.08  -9.8000 -139.0333
31        Adre      TD     82.80  13.4667   22.2000
32  La Malbaie      CA     76.46  47.6575  -70.1559

In [23]:
from config import g_key

In [ ]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}